#shell-main-container{
    height: calc(100vh - 10%);
}

#shell-card{
    width: 40%;
    min-width: 400px;
    margin: auto;
    height: 400px;
    margin-top: 10%;
    border-bottom: 4px solid var(--shell-card-color);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

#shell-card-logo{
    width: 80px;
    height: 80px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/logo.svg');
    margin: auto;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--input-outline-color) !important;
    border-width: 2px;
}

.MuiFormLabel-root.Mui-focused {
    color: var(--input-outline-color) !important;
}

#shell-enter-button{
    margin-top: 20px;
    width: 200px;
    max-width: 90%;
    background-color: var(--main-color);
    color: var(--white-color);
    font-weight: bold;
}

#shell-enter-button:disabled{
    background-color: var(--button-disabled);
}

#shell-poker-form-control{
    width: 100%;
}

#shell-input-room{
    text-align: left;
}

#app-version{
    font-weight: bold;
    position: relative;
    margin: auto;
    margin-top: 20px;
    color: var(--app-version-color);
}

@media (max-width: 500px) {
    #shell-card{
        min-width: 90%;
    }
}
