.user-item{
    background-color: var(--user-item-color);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    float: left;
    color: var(--user-item-text-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}

.user-item.contain-votes{
    background-color: var(--user-item-cotain-votes) !important;
}

.user-item:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.user-item.voted{
    background-color: var(--user-item-voted-color);
    color: var(--user-item-voted);
}

.user-item-name{
    float: left;
    font-weight: bold;
}

.user-item-nota{
    float: right;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    background-color: var(--user-item-cotain-votes);
    color: var(--main-color);
    background-image: url('../../assets/images/logo.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0px;
    background-color: unset;
    background-repeat: no-repeat;
}

.user-item.voted .user-item-nota{
    background-image: unset;
    color: white;
    background-color: var(--main-color);
    font-size: 0.9rem;
}

@media(max-width: 600px){
    .user-item{
        height: 20px;
        line-height: 22.5px;
        padding: 5px;
        margin: 5px;
    }

    .user-item-nota{
        width: 20px;
        height: 20px;
    }

    .user-item.voted .user-item-nota{
        background-image: unset;
        color: white;
        background-color: var(--main-color);
        font-size: 0.6rem;
        line-height: 20px;
        overflow: hidden;
    }

}